@{
    ViewData["Title"] = "Home Page";
}

<div class="d-inline-flex flex-column">

    <div id="studs"></div>
    <div class="mt-1" id="errorMelding"></div>
    <select class="mt-2" name="student" id="studentList"
            onchange="getStudent();">
    </select>
    
    <input class="btn btn-primary mt-1" type="button" id="getButton" value="Get students"
           onclick="getStudents()" />

    <h4 class="mt-4">Create student</h4>
    <input id="newName" class="mt-2" name="Name" type="text" />
    <input id="newAge" class="mt-1" name="Age" type="text" />
    <input class="btn btn-primary mt-1" type="button" id="AddButton" value="Add student"
           onclick="addStudent()" />
    
    <h4 class="mt-4">Edit student</h4>
    <input id="editName" class="mt-2" name="Name" type="text" />
    <input id="editAge" class="mt-1" name="Age" type="text" />
    <input class="btn btn-primary mt-1" type="button" id="EditButton" value="Edit student"
           onclick="editStudent()" />
    
    <h4 class="mt-4">Delete student</h4>
    <input class="btn btn-primary mt-2" type="button" id="DeleteButton" value="Delete student"
               onclick="deleteStudent()" />
</div>

@section Scripts
{
    <script src="~/js/student.js"></script>
}
