@{
    ViewData["Title"] = "Home Page";
}

<form name="Students" method="post" action="JavaScript: getStudent();">

    <div id="studs"></div>
    <div id="errorMelding"></div>
    <br />
    <select class="ml-2" name="student" id="studentList"
            onchange="jQuery('form').submit()"></select>
    
    <input class="btn btn-primary" type="button" id="getButton" value="Haal studenten op"
           onclick="getStudents()" />
</form>

@section Scripts
{
    <script src="~/js/student.js"></script>
}
